
body{

    background: #CCCCB2;
}

/*
---------------------------------------------
Estilos para el Header
---------------------------------------------
*/
h1{
    text-align: center;
    text-decoration: none;
}

a{
    text-decoration: none!important;
}

a h1:hover {
    color: rgb(130, 110, 86);
    border-radius: 10px;
    text-shadow: 10px 10px 10px #757519 ;
}

header {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 20px;
    background-color: #071952;
    
}

li {
    gap:10px;
    list-style: none;
}

a{
    color: #c88f8f;
}

/*
----------------------------------------------
Estilos para la barra de menu
----------------------------------------------*/

nav {
    /* background-color: rgb(233, 216, 196); */
    /* border: 2px solid brown; */
    /* border-radius: 10px; */
    /* margin: 10px 0px; */
    text-align: center;
    background-color: #088395;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color:rgb(16, 16, 30);
    padding: 6px 10px;
    display: block;
    border-radius: 10px;
    background-color: #35a29f;
    /* text-decoration: none; */
}

nav ul li a:hover {
    background-color: rgb(141, 127, 7);
    color: bisque;
    border-radius: 10px;
}

/*
---------------------------------------------
Estilos para el main
----------------------------------------------*/
main{
    background-color: #f2f7a1;
}
.banner{
   text-align: center;
}

.banner img{
    padding: 10px;
}


/*
----------------------------------------------
Estilos para el footer
----------------------------------------------*/

footer{
    background: #CCCCB2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #757519, #CCCCB2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #757519, #CCCCB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: #e91d1d;
    
    
}

.pie > div{
    color: #353232
}
li {
    display: inline-block;
    gap:10px;
}

a{
    color: #040404;
}
#copy {
    font-size: 20px;
    color:#393737;
}
